{% extends "user_profile/base.html" %} {% block content %}

<div class="container mt-5">
  <h2 class="text-center mb-4">Users Awaiting Approval:</h2>
  <form method="post">
      {% csrf_token %}
      <div class="row row-cols-1 row-cols-md-3 justify-content-center g-4">
          {% for profile in profiles %}
          <div class="col">
              <div class="card h-100 text-center">
                  <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="me-3">
                        <h5 class="card-title mb-0">{{ profile.user.get_full_name }}</h5>
                    </div>
                    <div class="bg-light px-3 py-1 rounded">
                        <p class="card-text mb-0">{{ profile.role.capitalize }}</p>
                    </div>
                  </div>
                  <div class="card-footer">
                      <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-primary w-100">
                          Accept
                      </button>
                  </div>
              </div>
          </div>
          {% empty %}
          <div class="col-12">
              <p class="text-center">No users to approve.</p>
          </div>
          {% endfor %}
      </div>
  </form>
</div>

{% endblock %}
