{% extends "user_profile/base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Logowanie</h2>
            <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <!-- Wyświetlanie błędów logowania -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Wyświetlanie błędów dla pola 'username' -->
                <div class="form-group mb-3">
                    <label for="id_username">Nazwa użytkownika</label>
                    <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username" placeholder="Wpisz nazwę użytkownika" required>
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Wyświetlanie błędów dla pola 'password' -->
                <div class="form-group mb-3">
                    <label for="id_password">Hasło</label>
                    <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password" placeholder="Wpisz hasło" required>
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
