{% extends "user_profile/base.html" %} 

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Employee List:</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-3 justify-content-center g-4">
            {% for subordinate in subordinates %}
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title mb-3">{{ subordinate.user.get_full_name }}</h5>
                        <div class="d-grid gap-2">
                            <a href="{% url 'user_profile:profile' subordinate.user.username %}" class="btn btn-outline-primary">
                                View Profile
                            </a>
                            <a href="{% url 'user_profile:create_task_for_subordinate' subordinate.user.username %}" class="btn btn-outline-secondary">
                                Add Task
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">No employees to display.</p>
            </div>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}
