{% extends "user_profile/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Task Details: {{ issue.title }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Description:</strong> {{ issue.description }}</p>
            <p><strong>Line:</strong> {{ issue.line }}</p>
            <p><strong>Machine:</strong> {{ issue.machine }}</p>
            <p><strong>Reported by:</strong> {{ issue.reported_by.get_full_name }}</p>
            <p><strong>Report Date:</strong> {{ issue.report_date|date:"Y-m-d H:i" }}</p>
            {% if issue.completed_date %}
            <p><strong>Completion Date:</strong> {{ issue.report_date|date:"Y-m-d H:i" }}</p>
            <p><strong>Completed by:</strong> {{ issue.accepted_by.get_full_name }} </p>
            {% endif %}
            
            <p><strong>Status:</strong> {{ issue.get_status_display }}</p>

            {% if issue_fix %}
            <h3 class="mt-3">Issue Resolution:</h3>
            <p><strong>Cause:</strong> {{ issue_fix.cause }}</p>
            <p><strong>Action Taken:</strong> {{ issue_fix.action }}</p>
            {% else %}
            <p>No recorded solutions for this issue.</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'user_profile:history_issue_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
