{% extends "user_profile/base.html" %}
{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">Lista Zgłoszonych Problemów</h2>
    <div class="list-group">
        {% for issue in object_list %}
            <div class="card mb-3">
                <div class="list-group-item list-group-item-action flex-column align-items-start py-3">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ issue.title }}</h5>
                        <small class="text-muted">{{ issue.report_date|date:"d.m.Y H:i" }}</small>
                    </div>
                    <p class="mb-1">{{ issue.description }}</p>
                    <small class="text-muted">Zgłoszony przez: {{ issue.reported_by }}</small>
                    <div class="mt-3">
                        <h6>Informacje:</h6>
                        <ul>
                            <li>Linia: {{ issue.line }}</li>
                            <li>Maszyna: {{ issue.machine }}</li>
                            <li>Priorytet: {{ issue.priority }}</li>
                            <li>Typ zgłoszenia: {{ issue.type_of_issue }}</li>
                        </ul>
                    </div>
                    <!-- Wyświetlanie daty zakończenia -->
                    {% if issue.completed_date %}
                    <p class="card-text text-success">
                        Completed on: {{ issue.completed_date }}
                    </p>
                    {% else %}
                    <p class="card-text text-danger">Issue not yet completed.</p>
                    {% if user == issue.accepted_by %}
                    <form id="completeIssueForm-{{ issue.id }}" method="post" action="{% url 'user_profile:issue_complete' issue.id %}" style="display: none;">
                        {% csrf_token %}
                    </form>
            
                    <!-- Przycisk, który otwiera modal -->
                    <button class="openModalBtn" data-issue-id="{{ issue.id }}">Zakończ Problem</button>

                    <!-- Struktura Modala -->
                    <div id="myModal" class="modal">
                        <!-- Zawartość Modala -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Czy na pewno chcesz zakończyć zadanie?</p>
                            <button id="acceptBtn" class="btn btn-primary">Akceptuj</button>
                            <button id="cancelBtn" class="btn btn-secondary">Anuluj</button>
                        </div>
                    </div>
                    {% endif %}
                  {% endif %}
                    {% if issue.accepted_date %}
                        <p class="card-text text-success">
                            Zaakceptowano dnia: {{ issue.accepted_date }} przez {{ issue.accepted_by.get_full_name }}
                        </p>

                        <!-- Dodaj sekcję z informacjami -->
                    {% else %}
                        <p class="card-text text-danger">Issue not yet Accepted.</p>
                        <div class="mt-3 d-flex justify-content-start">
                            {% if "Supervisor" in group_names %}
                                <form method="post" action="{% url 'user_profile:issue_accept' issue.id %}" class="form-inline mr-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-sm mr-2">Akceptuj Problem</button>
                                </form>
                                <form method="post" action="{% url 'user_profile:issue_assign' issue.id %}" class="form-inline">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <select name="subordinate" class="custom-select custom-select-sm mr-2">
                                            {% for subordinate in subordinates %}
                                                <option value="{{ subordinate.user.id }}">{{ subordinate.user.get_full_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary btn-sm">Przydziel</button>
                                    </div>
                                </form>
                            {% elif "Engineer" in group_names %}
                                <form method="post" action="{% url 'user_profile:issue_accept' issue.id %}" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-sm">Akceptuj Problem</button>
                                </form>
                            {% elif "Production" in group_names %}
                                <!-- Additional handling for Production group -->
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">Brak zgłoszonych problemów.</div>
        {% endfor %}
    </div>
</div>


<script>
    document.querySelectorAll('.openModalBtn').forEach(button => {
        button.addEventListener('click', function() {
            var issueId = this.getAttribute('data-issue-id');
            var modal = document.getElementById('myModal');
            var acceptBtn = document.getElementById('acceptBtn');
    
            // Zaktualizuj funkcję kliknięcia przycisku "Akceptuj"
            acceptBtn.onclick = function() {
                document.getElementById("completeIssueForm-" + issueId).submit();
            };
    
            modal.style.display = "block";
        });
    });

    var modal = document.getElementById("myModal");
    var openBtn = document.getElementById("openModalBtn");
    var acceptBtn = document.getElementById("acceptBtn");
    var cancelBtn = document.getElementById("cancelBtn");
    var span = document.getElementsByClassName("close")[0];
    
    // Otwarcie modala
    openBtn.onclick = function() {
      modal.style.display = "block";
    }
    
    // Zamknięcie modala
    function closeModal() {
      modal.style.display = "none";
    }
    
    // Zamknięcie modala po kliknięciu znaku X
    span.onclick = closeModal;
    
    // Zamknięcie modala po kliknięciu "Anuluj"
    cancelBtn.onclick = closeModal;
    
    // Logika dla przycisku "Akceptuj"
    acceptBtn.onclick = function() {
        document.getElementById("completeIssueForm").submit();
      closeModal();
    }
    
    // Zamknięcie modala po kliknięciu poza jego zawartością
    window.onclick = function(event) {
      if (event.target == modal) {
        closeModal();
      }
    }
    </script>
{% endblock %}
