{% extends "user_profile/base.html" %} {% block content %}
<div class="container mt-4 d-flex justify-content-center">
  <div class="card" style="width: 100%; max-width: 600px">
    <div class="card-body">
      <h2 class="card-title">
        {{ task.title }} - {{task.author.first_name}} {{task.author.last_name}}
      </h2>
      <p class="card-text">{{ task.text }}</p>
      <p class="card-text">Priority: {{ task.get_priority_display }}</p>
      <p class="card-text">Additional notes: {{ task.additional }}</p>
      <p class="card-text">Created on: {{ task.create_date }}</p>


      {% if task.accepted_date %}
      <p class="card-text text-success">
        Accepted on: {{ task.accepted_date }}
      </p>
        {% if task.completed_date %}
        <p class="card-text text-success">
          Completed on: {{ task.completed_date }}
        </p>
      {% else %}
        <p class="card-text text-danger">Task not yet completed.</p>
        <form
        method="post"
        action="{% url 'user_profile:task_complete' pk=task.pk %}"
        class="d-inline"
      >
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-info">
            Mark as Completed
          </button>
        </form>
    {% endif %}
      {% else %}
      <p class="card-text text-warning">Task not yet accepted.</p>
      <form
      method="post"
      action="{% url 'user_profile:task_accept' pk=task.pk %}"
      class="d-inline"
    >
    {% if user.is_authenticated and task.author == user %}
      <div class="container mt-4">
        <h4>Przypisani użytkownicy:</h4>
        <ul>
          {% for user in assigned_users %}
            <li>{{ user.username }}
              - {% if user.task.accepted_date %}Zaakceptowane{% else %}Niezaakceptowane{% endif %}
              - {% if user.task.completed_date %}Ukończone{% else %}W trakcie{% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-success">
        Accept Task
      </button>
      <div class="btn-group" role="group" aria-label="Task Actions">
        <a
          class="btn btn-outline-primary"
          href="{% url 'user_profile:task_update' pk=task.pk %}"
          >Edit</a
        >
        {% endif %} 
      </div>
    </div>
  </div>
</div>
{% endblock %}
